@import './_reset.css';

@font-face {
  font-family: 'TT Norms';
  src: '../fonts/TT_Norms_Regular.otf' format('opentype');
}

html {
  font-family: 'TT Norms', sans-serif;
}

h1 {
  font-size: 36px;
  margin: 50px 0;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}
canvas {
  height: 500px;
  text-align: center;
  width: 500px;
}